.header {
  top: 27px;
  left: 60px;
  width: 194px;
  height: 25px;
  opacity: 1;
  padding:27.39px 
  }
  .text{

text-align: left;
font: normal normal bold 50px/35px Lato;
/* line-height: 0; */
color: #28334E;
padding:143px 212px 24px 134px
  }

  .box{
    top: 379px;
left: 131px;
width: 338px;
height: 176px;
/* background: #000 0% 0% no-repeat padding-box; */
background: #fff;
border-radius: 10px;
opacity: 1;
/* display:"flex";
text-align: center; */
  }
  .form{
    top: 120px;
    left: 872px;
    width: 597px;
    height: 653px;
    /* UI Properties */
    background:  0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 50px #C7C7C75F;
    border-radius: 13px;
    opacity: 1;
    

  }
  .Name{
    top: 201px;
    left: 941px;
    width: 220px;
    height: 48px;
    /* UI Properties */
    background: #F9FAFE 0% 0% no-repeat padding-box;
    border: 1px solid #0F1B4D0F;
    border-radius: 4px;
    opacity: 1;
  }
  .cmon{
    top: 315px;
left: 941px;
width: 460px;
height: 48px;
/* UI Properties */
background: #F9FAFE 0% 0% no-repeat padding-box;
border: 1px solid #0F1B4D0F;
border-radius: 4px;
opacity: 1;
    
  }
  .button{
    top: 631px;
left: 941px;
width: 460px;
height: 54px;
/* UI Properties */
background: #126FED 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1;
border:#126FED;
color:#fff;
font: normal normal bold 19px/29px Lato;

  }
  .link{
    text-decoration: none;
    color:#126FED;
    
  
  }
  .linktext{
    padding-top: 1%;
    padding-left: 2%;
    
  }
